*.class

# Mobile Tools for Java (J2ME) #
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*

# configuration file(s) ... everywhere! #
config.properties

# uml files #
plantuml/

# netbeans plugin(s) #
.projectKnowledge
# netbeans #
nbproject
nbproject/private/
# not all versions of netbeans use the rest, but left here just in case #
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# build, mixture of resources which should and shouldn't be ignored #
#build/
build/built-jar.properties
build/classes/
build/generated/
# generated sources from wsimport #
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/user/*
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/image/*
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/location/*
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/address/*
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/logbook/*
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/geocache/*
!build/generated-sources/jax-ws/blueharvest/geocaching/webservices/database/*

# .jar is here #
dist/
lib/

# test/ # leave this commented to include tests created here by junit #

# xml-resources/ # leave this commented to include xml such as web services including wsdl(s)

# miscellaneous #
.DS_Store
Thumbs.db

# deprecated and deleted #
src/blueharvest/geocaching/database/
src/blueharvest/geocaching/httpxml/
/build/